div.transition
  strong Notice:
  = ' because of no.de being discontinued, the log server has moved to '
  a(href='http://logs.libuv.org/') logs.libuv.org
  = '.'

div.channels
  ul
    - each config in configs
      li
        a(href= config.key + '/latest') #{config.channel}
        = ' ('
        a(href= config.key + '/index') index
        = ' | '
        a(href= config.key + '/latest') latest
        = ')'
